
    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    header {
      background-color: #3f3f3f;
      color: white;
      padding: 1em;
      text-align: center;
    }

    h1, h2, h3, h4, h5 p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
/*created a class to make header intro a different font*/
    .header-intro {
        font-family: 'Courier New', Courier, monospace;
    }

    nav {
      display: flex;
      justify-content: left;
      background-color: #727272;
      padding: 0.2em;
      text-align: left;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 0.5em 1em;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 1em;
    }

    /*created a class to set size of hero image*/
    .hero-img {

        width: 1000px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        border: 0px;
        border-radius: 5px;

    }
    /*created a class to set size of button images*/
    .button-img {
        width: 200px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        border: 0px;
        border-radius: 5px;
        padding-right: 2%;
        padding-left: 2%;
    }
    section {
      flex: 1;
      margin: 0.5em;
      padding: 1em;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    /*created a class to set size of logo images*/
    #logo {
        width: 50px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        border: 0px;
        border-radius: 5px;
    }

    
       
    

    .about {
        flex: 3;
    }

    .buy {
        flex: 1;
    }
    footer {
      background-color:#4e4e4e;
      color: white;
      text-align: center;
      padding: 1em;
    }
  